{% extends 'base.html' %}
{% block title %}Flowers{% endblock %}

{% block content %}
<section style="padding-top: 100px">
    <a href="/flowers/new">Add new Flower</a>
    <table class="table table-striped table-hover">
        <tr>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Count</th>
            <th style="text-align: center;">Cost</th>
            <th style="text-align: center;">Action</th>

        </tr>
        {% for flower in flowers %}
        <tr>
            <td style="text-align: center"><a href="" style="text-decoration: none;color: black">{{ flower.name }}</a>
            </td>
            <td style="text-align: center"><a href="" style="text-decoration: none;color: black">{{ flower.cost }}</a>
            </td>
            <td style="text-align: center"><a href="" style="text-decoration: none;color: black">{{ flower.count }}</a>
            </td>
            <td style="display:flex;justify-content: space-around">
                <form action="/{{flower.id}}/delete/" method="post">
                    <div class="mb-3">
                        <input type="submit" name="delete" class="form-control btn btn-danger" value="Delete">
                    </div>
                </form>
                <form action="add/{{flower.id}}/to/cart" method="post">
                    <div class="mb-3">
                        <input type="submit" name="add_cart" class="form-control btn btn-success" value="Add cart">
                    </div>
                </form>
                <div>
                    {% if error_message %}
                    <p>{{ error_message }}</p>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}