{% extends 'base.html' %}
{% block title %}{% endblock %}
{%block content%}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-form {
        width: 400px;
        padding: 40px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .login-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .form-group button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        color: #fff;
        background-color: #11c016;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .form-group button:hover {
        background-color: #19e038;
    }
</style>

<div class="container">
    <div class="login-form">
        <h2>Signup</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <input type="email" id="email" name="email" required placeholder="Email address">
            </div>
            <div class="form-group">
                <input type="text" id="name" name="name" required placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" id="lastname" name="lastname" required placeholder="Lastname">
            </div>
            <div class="form-group">
                <input type="text" id="password" name="password" required placeholder="password">
            </div>
            <div class="form-group">
                <button type="submit">Signup</button>
            </div>
            <div>
                {% if error_message %}
                <p>{{ error_message }}</p>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}

